<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/listStyle.css">
</head>
<body>
<h1>Salary List</h1>

<!-- container salary Start--->
<div class="container-salary">

    <div class="table">
        <div class="thead">
            <div class="tr">

                <div class="th">First Name</div>
                <div class="th">Last Name</div>
                <div class="th">Salary</div>
                <div class="th">Date</div>
                <div class="th">Actions</div>

            </div>
        </div>
        <div class="tbody">
            <div class="tr" th:each="salary: ${salaries}">
                <div class="innerTr-main-info" th:id="'edit'+${salary.id}">
                    <div class="td" th:text="${salary.employee.firstName}"></div>
                    <div class="td" th:text="${salary.employee.lastName}"></div>
                    <div class="td" th:text="'$'+${salary.salary}"></div>
                    <div class="td" th:text="${salary.date}"></div>
                    <div class="td actions" >
                        <form th:action="@{/salaries/delete/{id}(id=${salary.id})}" method="get">
                            <button type="submit">Delete</button>
                        </form>

                        <button  th:onclick="'toggleUpdate(\'edit'+ ${salary.id} +'\', \'update'+ ${salary.id} +'\' );'">Edit</button>
                    </div>
                    <!-- start the update form-->
                </div>
                <form th:action="@{/salaries/{id}(id=${salary.id})}" class="innerTr-updateInfo" style="display: none" th:id="'update'+${salary.id}" th:object="${salaryNew}" method="post">

                    <div class="td" th:text="${salary.employee.firstName}"></div>
                    <div class="td" th:text="${salary.employee.lastName}"></div>

                    <input class="td" type="number" id="updateSalary" th:field="*{salary}" th:placeholder="${salary.salary}" />


                    <input class="td" type="date" id="updateDate" th:field="*{date}" th:placeholder="${salary.date}" />
                        <button type="submit" class="td">
                            Update
                        </button>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- container salary End--->


<!---add new salary Starts--->
<button onclick="toggleNewForm('newSalary')" id="buttonId" >
    Add new Salary
</button>
<div style="display: none" id="newSalary">
    <form th:action="@{/salaries}" th:object="${salaryNew}" method="post" class="add-form-container newSalaryForm">

        <div class="data-group">
            <label for="employeeList">Employee</label>
            <select id="employeeList" th:field="*{employee.id}">
                <option th:each="singleEmployee : ${employeeList}"
                        th:value="${singleEmployee.id}"
                        th:text="${singleEmployee.firstName}+' '+${singleEmployee.lastName}">
                </option>
            </select>

        </div>

        <div class="data-group">

            <label for="salary">Salary:</label>
            <input type="number" id="salary" th:field="*{salary}" /><br/>

        </div>

        <div class="data-group">
            <label for="date">date:</label>
            <input type="date" id="date" th:field="*{date}" /><br/>
        </div>

        <button type="submit">Submit</button>

    </form>
</div>
<!---add new salary Ends--->



</body>
</html>