body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: black;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar .admin-info {
    margin-bottom: 40px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}


.main-content {
    margin-left: 22%;
    width: 80%;
    padding: 20px;
    background-color: #f5f5f5;
    overflow-y: auto;
    height: 100vh;
}

/*# login style begins */

#login-body{
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-body .login-container {
    max-width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#login-body .login-container h2 {
    margin-bottom: 1.5rem;
}
#login-body .form-group {
    margin-bottom: 1rem;
}
#login-body .btn-primary {
    width: 100%;
}

/*# login style ends */
